<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>帖子</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">-->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/avalon.js}"></script>
    <script th:src="@{/js/myscript.js}"></script>
    <style type="text/css">
        /* Chart.js */

        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
    <script type="text/javascript">
        function myCheck()
        {
            for(var i=0;i<document.form1.elements.length-1;i++)
            {
                if(document.form1.elements[i].value=="")
                {
                    alert("请不要提交空内容！");
                    document.form1.elements[i].focus();
                    return false;
                }
            }
            return true;
        }
    </script>
    <script type = "text/javascript">
        function likeClick(postId) {
            // alert("aaa");
            var geturl;
            geturl="/user/post/like/"+postId;
            // alert(geturl);
            $.ajax({
                type: "post",
                url: geturl,    //向后端请求数据的url
                data: {},
                success: function (data) {
                    // $('button').removeClass("btn-primary").addClass("btn-success").attr('disabled', true);
                    element=document.getElementById('myImg'+postId);
                    // alert(element.src);
                    var num;
                    num=document.getElementById('likeNum'+postId).value;
                    // alert(num);

                    if (element.src.match("like1")){
                        var temp=0;
                        temp=Number(num)+1;
                        element.src="/img/like/like2.png";
                        document.getElementById('like'+postId).innerHTML=temp;
                        document.getElementById('likeNum'+postId).value=temp;
                        // document.getElementById("nums").innerHTML =
                    }
                    else{
                        var temp=0;
                        temp=Number(num)-1;
                        element.src="/img/like/like1.png";
                        document.getElementById('like'+postId).innerHTML=temp;
                        document.getElementById('likeNum'+postId).value=temp;
                    }
                }
            });
        }
    </script>
</head>
<body ms-controller="viewmodel">
<div th:replace="~{commons/commons::topbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{commons/commons::sidebar(active='forum.html')}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" >
            <h2>[[${forumName}]]</h2>
            <div class="table-responsive">
                <table class="table table-sm" th:each="post:${postView.getPosts()}" style="width:1000px">
                    <tr>
                        <td th:text="${post.getUser_name()}" rowspan="3" style="width:100px"></td>
                        <td th:text="${post.getName()}" colspan="2"></td>
                    </tr>
                    <tr>
                        <td th:text="${post.getDetail()}" colspan="2" style="height:200px"></td>
                    </tr>
                    <tr>
                        <td>
                            <form>
                                <button type="button" class="btn btn-light" id="button" th:onclick="'javascript:likeClick('+${post.getId()}+');'">
                                    <img th:id="'myImg'+${post.getId()}" th:src="${post.isLike()}?'/img/like/like2.png':'/img/like/like1.png'" style="height: 30px">
                                    <span class="badge badge-pill badge-default" th:id="'like'+${post.getId()}">[[${post.getLike_num()}]]</span>
                                    <input th:id="'likeNum'+${post.getId()}" type="hidden" th:value="${post.getLike_num()}">
                                </button>
                            </form>
                        </td>
                        <td style="text-align: right">
                            <a class="btn btn-sm btn-primary" th:href="@{/user/reply/}+${post.getId()}">回复</a>
                            <a class="btn btn-sm btn-danger" th:if="${session.username.equals(post.getUser_name())}" th:href="@{/user/deletePost/post=}+${post.getId()}+@{/forum=}+${forumId}">删除</a>
                        </td>
                    </tr>

                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" th:href="@{/user/post/}+${forumId}+@{/p=}+${postView.getCurrentPage()-1}">上一页</a></li>
                    <li th:each="num:${postView.getPageNum()}" th:class="${num!=postView.getCurrentPage()}?'page-item':'page-item active'">
                        <a class="page-link" th:href="@{/user/post/}+${forumId}+@{/p=}+${num}">
                            [[${num}]]
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" th:href="@{/user/post/}+${forumId}+@{/p=}+${postView.getCurrentPage()+1}">下一页</a></li>
                </ul>
            </div>
            <form th:action="@{/user/addPost}" method="post" name="form1" onsubmit="return myCheck()">
                <div class="form-group">
                    <label>帖子标题</label>
                    <input type="hidden" name="forumId" th:value="${forumId}">
                    <input type="text" name="name" class="form-control" style="width:1000px" placeholder="帖子标题" maxlength="30" required>
                </div>
<!--                    <span style="color: red" th:text="${session.postMsg}" th:if="${not #strings.isEmpty(session.postMsg)}"></span>-->
                <div class="form-group">
<!--                    <label>帖子内容</label>-->
                    <label for="detail">帖子内容</label>
                    <textarea class="form-control" rows="8" style="width:1000px" id="detail" name="detail" maxlength="233" required></textarea>
<!--                    <input type="text" name="detail" class="form-control" style="width:1000px;height:200px" maxlength="233">-->
                </div>


                <button type="submit" class="btn btn-primary" >添加帖子</button>
            </form>
        </main>
    </div>
</div>
</body>
</html>